html, body {
  margin: 0px;
}

.container_1 {
    background-color: aquamarine;
    margin: 0px;
    height:100%;
    width:100%;
    position:absolute;
}

    .container_1 > h1 {
        text-align: center;
    }

    .container_2 {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-color: bisque; 
        height: 60%; 
        width: 100%;
    }

        .container_3 {
            display: flex;
            background-color: antiquewhite;
            height: 100%;
            width: 33.3%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

            .single_cell {
                box-shadow:0px 0px 0px 1px red inset;
                background-color: greenyellow;
            }